<section role="author">
	<h1>
		Author
	</h1>
	<div style="margin: 10px;">
		<p>
			Adam Filkor - <a href="http://filkor.org">filkor.org</a>
		</p>
		<a href="https://twitter.com/AdamFilkor" class="twitter-follow-button" data-show-count="false">Follow @AdamFilkor</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<div class="badge">
			<img src="/images/badge.png" title="Hm, what's this here?">
		</div>
	</div>
</section>
<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>